* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html, body {
   height: 100%;
   display: grid;
   background: #232323;
   color: #fbfbfb;
   background: url('/Untitled\ \(2\).png');
   background-size: cover;
}

h1 {
   font-size: 3rem;
   line-height: 3rem;
   color: #dbd824;
   font-weight: 900;
}

button, .btn {
   cursor: pointer;
   display: inline-block;
	height: 2.25rem;
   padding: 10px 20px;
   margin-top: 1.5rem;
   line-height: 1rem;
	border: 0;
	border-radius: 0.3rem;
   background: #dbd824;
   color: #232323;
   font-weight: 700;
	font-size: 15px;
   text-align: center;
   text-decoration: none;
}

button:disabled{
   cursor: not-allowed;
   background: #009632d7;
}

p {
   margin: 0.5rem;
}

.container {
   width: 70%;
   margin: auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.header {
   margin: 3rem 0;
}

.instructions {
   width: 70%;
   margin: 0 auto;
   padding-bottom: 3rem;
}

.good {
   border: 2px solid #009632;
}

.bad {
   border: 2px solid #db1414;
}

@media(min-width:600px){
   .container {
      height: min-content;
   }
}
